BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.x.x and v3.0.x

# The clock "usb" and "gpdi" sheet

#ULX3S
#LOCATE COMP "clk_25mhz" SITE "G2"; 

#i5-v6.0
LOCATE COMP "clk" SITE "P6";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst" SITE "F14";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

#iCESugar-pro HDMI
LOCATE COMP "hdmi_dp[0]" SITE "G1"; # Blue +
LOCATE COMP "hdmi_dn[0]" SITE "F1"; # Blue -
LOCATE COMP "hdmi_dp[1]" SITE "J1"; # Green +
LOCATE COMP "hdmi_dn[1]" SITE "H2"; # Green -
LOCATE COMP "hdmi_dp[2]" SITE "L1"; # Red +
LOCATE COMP "hdmi_dn[2]" SITE "K2"; # Red -
LOCATE COMP "hdmi_dp[3]" SITE "E2"; # Clock +
LOCATE COMP "hdmi_dn[3]" SITE "D3"; # Clock -

IOBUF PORT "hdmi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "debug[0]" SITE "C5";
LOCATE COMP "debug[1]" SITE "D6";
LOCATE COMP "debug[2]" SITE "C6";
LOCATE COMP "debug[3]" SITE "D7";
LOCATE COMP "debug[4]" SITE "C7";
LOCATE COMP "debug[5]" SITE "D8";
LOCATE COMP "debug[6]" SITE "C8";
LOCATE COMP "debug[7]" SITE "D9";

IOBUF PORT "debug[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[6]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[7]" IO_TYPE=LVCMOS33 DRIVE=4;

