LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst" SITE "F14";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "tx" SITE "B9";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "rx" SITE "A9";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;
